---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Hello, World!</h1>
	<h2>Website Layout</h2>
	<ul class="list-disc list-inside text-xl">
		<li><code>/tags</code>: Some posts has tags, this is the index.</li>
		<li><code>/writeups</code>: Mostly CTF writeups.</li>
		<li><code>/blog</code>: Everything else.</li>
	</ul>
	<h2>Latest Posts</h2>
</BaseLayout>
