---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Hello, World!</h1>
	<p>I write writeups here. Once in a while, maybe, I'll write a blog post. See the main site <a href="https://alifyasa.dev" target="_blank">here</a>.</p>
	<h2>Website Layout</h2>
	<ul class="list-disc list-inside text-xl">
		<li><code>/tags</code>: Some posts has tags, this is the index.</li>
		<li><code>/writeups</code>: Mostly CTF writeups.</li>
		<li><code>/blog</code>: Everything else.</li>
	</ul>
</BaseLayout>
